[Unit]
Description=startDuetLapse3 Service
After=multi-user.target
[Service]
WorkingDirectory=/home/pi/Lapse
User=pi
Type=idle
ExecStart=python3 /home/pi/Lapse/DuetLapse3.py -duet 192.168.30.31 -port 8085 -standby -extratime 5 -minvideo 3 -execkey :do: -keepfiles  -basedir /home/pi/Lapse/Captures -dontwait -seconds 20 -weburl1 http://192.168.30.30:8081/stream -camera1 other -camparam1="'ffmpeg ' + ffmpegquiet + ' -y -i ' +weburl+ ' -vframes 1 ' +fn+debug"
Restart=always
[Install]
WantedBy=multi-user.target
